@{
    ViewBag.Title = "Order Failed";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="jumbotron">
    <h2>You order has been cancelled</h2>
    <p>To start the new order again, please click the button below.</p>
    <p><a  href="@Url.Action("ProductView", "Product")" class="btn btn-primary btn-lg" role="button">Back to shop</a></p>
</div>