@{
    ViewBag.Title = "Order Confirmation";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model SALuminousWeb.Controllers.TransacDetails
<div class="jumbotron">
    <h2>Thank you for your order!</h2>
    <p>Your will recieve a confiramtion email from PayPal shortly</p>
    <p>The total payment has been taken by PayPal</p>
    <p><a  href="@Url.Action("ProductView", "Product")" class="btn btn-primary btn-lg" role="button">Back to shop</a></p>
</div>